.base {
  background-color: #161B22;
  border: #30363D solid 2px;
  border-radius: 10px;
  padding: 10px;
}

.button-container {
  text-align: right;
}

.field {
  margin-bottom: 10px;
}

.name {
  font-size: 24px;
}