.base {
  min-height: 100vh;
}

.navigation-container {
  background-color: #161B22;
  bottom: 0;
  position: fixed;
  height: 65px;
  width: 100%;
}

.navigation-enabled {
  background-color: #000000;
  padding-bottom: 75px; /* nav container height plus 10 */
}

@media only screen and (min-width: 768px) {
  .base {
    display: flex;
  }

  .home-page .route-content-container {
    max-width: 100%;
  }

  .navigation-container {
    position: static;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    width: 250px;
  }

  .navigation-container .navigation {
    position: sticky;
    top: 0;
  }

  .navigation-empty {
    flex: 1;
  }

  .navigation-enabled {
    padding-bottom: 0;
  }

  .route-content-container {
    flex: 1;
    max-width: 600px;
  }
}