.navigation-footer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.navigation-footer-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
}

.navigation-footer-text {
  font-size: 12px;
  margin-top: 5px;
}

.navigation-side {
  padding: 10px;
}

.navigation-side-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.navigation-side-text {
  flex: 1;
  font-size: 16px;
  margin-left: 10px;
}

.navigation-footer,
.navigation-side {
  background-color: #161B22;
}

.navigation-footer-text,
.navigation-side-text {
  color: #C9D1D9;
}