.base {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.header {
  margin-bottom: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .base {
    padding: 0;
  }
}