.navigation-footer {
  background-color: #161B22;
  display: flex;
  height: 65px; /* HACK: Same as app-template */
  justify-content: center;
  padding: 5px;
}

.navigation-footer-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
}

.navigation-footer-text {
  font-size: 12px;
  margin-top: 5px;
}

@media only screen and (min-width: 768px) {
  .navigation-footer {
    display: block;
    height: auto;
    padding: 10px;
  }

  .navigation-footer-button {
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
  }

  .navigation-footer-text {
    flex: 1;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0;
  }
}
