.navigation-container {
  background-color: #161B22;
  bottom: 0;
  position: fixed;
  height: 65px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .content-container {
    display: flex;
    min-height: 100vh;
  }

  .home-page .route-content-container {
    max-width: 100%;
  }

  .navigation-container {
    position: static;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    width: 250px;
  }

  .navigation-container .navigation-side {
    flex-shrink: 0;
    position: sticky;
    top: 0;
  }

  .navigation-empty {
    flex: 1;
  }

  .route-content-container {
    flex: 1;
    max-width: 600px;
  }
}