.app-template-navigation-container {
  background-color: #161B22;
  bottom: 0;
  position: fixed;
  height: 65px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .app-template-content-container {
    display: flex;
    min-height: 100vh;
  }

  .app-template-navigation-container {
    position: static;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    width: 250px;
  }

  .app-template-navigation-container .navigation-side {
    flex-shrink: 0;
    position: sticky;
    top: 0;
  }

  .app-template-navigation-empty {
    flex: 1;
  }

  .app-template-route-content-container {
    flex: 1;
    max-width: 600px;
  }

  .app-template-home-page .app-template-route-content-container {
    max-width: 100%;
  }
}